@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
}

@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  a {
    @apply text-blue-600 underline;
  }
  p {
    @apply mb-3;
  }
}

.article-quote {
  font-size: 0.9rem;
  font-style: italic;
  padding: 1rem 1rem 1rem 3rem;
  border-left: 8px solid #717bc3;
  line-height: 1.6;
  position: relative;
  background: #EDEDED;
}

.article-quote::before {
  content: "\201C";
  color:#717bc3;
  font-size:3rem;
  position: absolute;
  left: 10px;
  top:-10px;
}

.article-quote::after {
  content: '';
}